@use "../base/vars" as *;

.Paymentform {
  font-family: sans-serif;
  text-align: center;
}

label,
input {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  margin: auto;
}

/*
#complex-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ant-form-item-explain.ant-form-item-explain-error {
  text-align: start;
}

.ant-form-item-with-help {
  margin-bottom: 1rem;
}
*/
