@use "../base/vars" as *;

.steps-content-container {
  display: inline-grid !important;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  width: 200% !important;
  margin-top: 3rem;
}

.steps-content {
  h1 {
    font-family: "Courier-Prime-Bold";
  }
}

.step-container-1 {
  padding: 2rem 3rem;
  border-top: 3px solid $black;
  border-right: 3px solid $black;

  h1 {
    display: flex;
    align-self: flex-start;
  }
}

.step-container-2 {
  padding: 2rem 3rem;
  border-top: 3px solid $black;

  h1 {
    display: flex;
    align-self: flex-start;
  }
}
